%h1.about=@title

%p JOYBLIND is something new, something sweet. On the outside it's a blog about gaming and everything related to the gaming culture. On the inside it's a blog following the people who write for it. JOYBLIND's focus is gaming, but that doesn't mean it's restricted only to that. If we want we'll post random videos that interest us, some news on the latest gadgets or even a cooking recipe.

%h2 About the Authors

%h3 Uri Gorelik

%p 
	%em Editor in Chief

%p 
	I live in Ottawa and I've been gaming ever since I can remember. You can see what I'm up to here or follow my twitter 
	%a{ href:'http://twitter.com/UriGorelik', target:"_blank"} @UriGorelik
	I used to run a Dawson's Creek hate blog when I was 12 (before the advent of blogging) so I had an excuse to watch the show.

%h3 Vsevolod "Seva" Vodonenko

%p 
	%em Deputy Editor

%p Hey, so my name is Vsevolod but my friends call me Seva, because as much as I like my name, it's a bit hard to say for most people. I am also from Ottawa and have actually known Uri ever since I've come to Canada. I'm a huge hockey fan (Go Sens Go!), although I've never played, and I can't even skate. Now, I don't tweet nearly as much as Uri, but check me out @Vsevolod_V to see what I've gotta say!

%h3 Lucas Hudson

%p 
	%em Reporter

%p Hello everyone my name is Lucas Hudson. My permanent residence is in Ottawa but I go to school in Waterloo. I am studying to become a Mechatronics Engineer and plan to graduate in 2015. PC gaming has been a big part of my life. Age Of Empires: The Age of Kings was the first game I really enjoyed. That does not mean I dislike consoles, I played a fair share of Ridge Racer and Tony Hawk on the N64 back in the day. I hope to give insight into some interesting upcoming news in the gaming industry, cool tech tools and my gaming endeavours. I’m very happy to be writing to JOYBLIND, I hope you enjoy. Oh and I tweet pretty regularly @LucasHudson.